{% extends 'base.html.twig' %}

{% block title %}
 Nouvel article
{% endblock %}

{% block body %}
<h1>Ajouter un article</h1>

    {{ form_start(article_form) }}

    {{ form_row(article_form.category, {label :'Catégorie:'}) }}
    {{ form_row(article_form.title,{label: 'Titre:'}) }}
    {{ form_row(article_form.content,{label: 'contenu:'}) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(article_form) }}
{% endblock %}

